<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/download.css" rel="stylesheet" type="text/css">

</head>

<body>





    <div class="container">
        <h2>
            <%= fileName %>
        </h2>
        <h3>
            <%= uuid %>
        </h3>
        <small>
            <%= parseFloat(fileSize/1000) %> KB
        </small>
        <br>
        <a href="<%= downloadLink %>">Download file</a>

    </div>



</body>

</html>